

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Sign In to continue</h3>
                    </div>
                    <div class="panel-body">
                        <form ngForm #loginform class="form" (submit)="onSubmit($event); loginform.reset();">
                            <mat-form-field>
                                <input matInput placeholder="Username" required [(ngModel)]="username" name="username">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="Password" required [(ngModel)]="password" name="password">
                            </mat-form-field>
                            <br>
                            <button mat-stroked-button color="primary" class="btn btn-primary">
                                    Login
                                </button>

                            <div *ngIf="error" class="alert">{{error}}</div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../assets/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../assets/js/startmin.js"></script>

