@import '../../assets/css/bootstrap.min.css';
@import '../../assets/css/bootstrap.min.css';
@import '../../assets/css/bootstrap.min.css';
@import '../../assets/css/metisMenu.min.css';
@import '../../assets/css/dataTables/dataTables.bootstrap.css';
@import '../../assets/css/dataTables/dataTables.responsive.css';
@import '../../assets/css/startmin.css';
@import '../../assets/css/font-awesome.min.css';

.container{
    margin: 20px;
    /*box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.301);*/
}
.btndelete{
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    margin: 8px 8px 8px 0;
    color: white;
    margin-left: 10px;
    background-color: rgb(233, 121, 121);
    color: white;
}
#bottom {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
.ficheel{
    line-height: 47px;
}
.example-header-image {
    background-image: url('../../assets/img/494.jpg');
    background-size: cover;
  }

.matheight{
    min-height: 65vh;
  }
.imgcard{
    height: 241.453px;
    width: auto;
    float: right;
}
.matbtn{
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    margin: 8px 8px 8px 0;
    color: white;
    background-color: #639e9e;
}