<div mat-dialog-content>
  <p>Veuillez entrer la note</p>
  <mat-form-field>
    <mat-label>Note</mat-label>
    <input matInput  type="number" [(ngModel)]="note">
  </mat-form-field>
  <p>Veuillez entrer la remarque</p>
  <mat-form-field>
    <mat-label>Remarque</mat-label>
    <input matInput [(ngModel)]="remarque">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button  (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>